@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tap-transparent {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .transition-ease {
    transition: transform 0.3s ease;
  }

  .transform-animation {
    transform: translate(-20%);
  }

  .transition-all {
    transition: all 0.5s;
  }
}

@import "~react-image-gallery/styles/css/image-gallery.css";

@font-face {
  font-family: "cereal-normal";
  src: url("/fonts/Cereal-Normal.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "cereal-medium";
  src: url("/fonts/Cereal-Medium.woff2") format("woff2");
  font-weight: medium;
}

@font-face {
  font-family: "cereal-bold";
  src: url("/fonts/Cereal-Bold.woff2") format("woff2");
  font-weight: bold;
}
